<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-modele-heading">Create or edit a Modele</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!modele.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_taille">Taille</label>
                    <input type="number" class="form-control" name="taille" id="field_taille"
                           formControlName="taille"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_poids">Poids</label>
                    <input type="number" class="form-control" name="poids" id="field_poids"
                           formControlName="poids"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pointure">Pointure</label>
                    <input type="number" class="form-control" name="pointure" id="field_pointure"
                           formControlName="pointure"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_taillePoitrine">Taille Poitrine</label>
                    <input type="number" class="form-control" name="taillePoitrine" id="field_taillePoitrine"
                           formControlName="taillePoitrine"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tourDeTaille">Tour De Taille</label>
                    <input type="number" class="form-control" name="tourDeTaille" id="field_tourDeTaille"
                           formControlName="tourDeTaille"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tourDeHanche">Tour De Hanche</label>
                    <input type="number" class="form-control" name="tourDeHanche" id="field_tourDeHanche"
                           formControlName="tourDeHanche"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_couleurDesYeux">Couleur Des Yeux</label>
                    <select class="form-control" name="couleurDesYeux" formControlName="couleurDesYeux" id="field_couleurDesYeux">
                        <option value="VERT">VERT</option>
                        <option value="BLEU">BLEU</option>
                        <option value="MIEL">MIEL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_couleurDeCheveux">Couleur De Cheveux</label>
                    <select class="form-control" name="couleurDeCheveux" formControlName="couleurDeCheveux" id="field_couleurDeCheveux">
                        <option value="VERT">VERT</option>
                        <option value="BLEU">BLEU</option>
                        <option value="MIEL">MIEL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_experience">Experience</label>
                    <select class="form-control" name="experience" formControlName="experience" id="field_experience">
                        <option value="DEBUTANT">DEBUTANT</option>
                        <option value="AMATEUR">AMATEUR</option>
                        <option value="PRO">PRO</option>
                        <option value="PASSIONNE">PASSIONNE</option>
                        <option value="EXPERIMENTE">EXPERIMENTE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="MODELE">MODELE</option>
                        <option value="MANNEQUIN">MANNEQUIN</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_photo">Photo</label>
                    <div>
                        <div *ngIf="editForm.get('photo').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('photoContentType').value, editForm.get('photo').value)">open</a><br>
                            <span class="pull-left">{{editForm.get('photoContentType').value}}, {{byteSize(editForm.get('photo').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({photo: null});editForm.patchValue({photoContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_photo" (change)="setFileData($event, 'photo', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="photo" id="field_photo"
                           formControlName="photo"/>
                    <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                           formControlName="photoContentType" />
                </div>

                <div class="form-group">
                    <label for="field_stylePhotos">Style Photo</label>
                    <select class="form-control" id="field_stylePhotos" multiple name="stylePhotos" formControlName="stylePhotos">
                        <option [ngValue]="getSelected(editForm.get('stylePhotos').value, stylePhotoOption)" *ngFor="let stylePhotoOption of stylephotos; trackBy: trackStylePhotoById">{{stylePhotoOption.nom}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
