<div>
    <h2 id="page-heading">
        <span>Maquilleurs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-maquilleur" [routerLink]="['/maquilleur/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Maquilleur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="maquilleurs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Experience</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let maquilleur of maquilleurs ;trackBy: trackId">
                <td><a [routerLink]="['/maquilleur', maquilleur.id, 'view' ]">{{maquilleur.id}}</a></td>
                <td>{{maquilleur.experience}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/maquilleur', maquilleur.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/maquilleur', maquilleur.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'maquilleur', { outlets: { popup: maquilleur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
