<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="photographe">
            <h2><span>Photographe</span> {{photographe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Experience</span></dt>
                <dd>
                    <span>{{photographe.experience}}</span>
                </dd>
                <dt><span>Style Photo</span></dt>
                <dd>
                    <span *ngFor="let stylePhoto of photographe.stylePhotos; let last = last">
                        <a [routerLink]="['/style-photo', stylePhoto?.id, 'view' ]">{{stylePhoto.nom}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/photographe', photographe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
