<div>
    <h2 id="page-heading">
        <span>Photographes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-photographe" [routerLink]="['/photographe/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Photographe
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="photographes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Experience</span></th>
            <th><span>Style Photo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let photographe of photographes ;trackBy: trackId">
                <td><a [routerLink]="['/photographe', photographe.id, 'view' ]">{{photographe.id}}</a></td>
                <td>{{photographe.experience}}</td>
                <td>
                    <span *ngFor="let stylePhoto of photographe.stylePhotos; let last = last">
                            <a class="form-control-static" [routerLink]="['../style-photo', stylePhoto?.id, 'view' ]">{{stylePhoto.nom}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/photographe', photographe.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/photographe', photographe.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'photographe', { outlets: { popup: photographe.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
